*.idea/
.iml
vendor/

# zipped packages
*.gz
*.tgz

# log file
*.log

# temporary files
*~

# ca certificate
certs
http_ca.crt

# local config files
.env
*local*

# ignore local pebble store files
status-service/store
tick-data-publisher/store
transactions-consumer/store
tx-processor-store/
computors-publisher/store