*.idea/
.iml
vendor/

# zipped packages
*.gz
*.tgz

# log file
*.log

# temporary files
*~

# ca certificate
certs
http_ca.crt

# local config files
.env
*local*

# status service
status-service/store

# tick data publisher
tick-data-publisher/store

# transaction consumer
transactions-consumer/store

# transaction processor
tx-processor-store/