name: Create custom status service snapshot image

on:
  push:
    branches:
      - 'feature/support-archiver-v1'

jobs:
  docker-publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./status-service
          file: ./status-service/Dockerfile
          push: true
          tags: ghcr.io/qubic/status-service:snapshot